<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draft || CFC</title>
    <script src="https://cdn.tailwindcss.com/"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% load static %}

</head>

<body>
    <header class="fixed w-full font-medium bg-green-400 py-3 px-10 flex justify-between items-center">
        <h3 class="text-lg font-medium">College Football Challenge || DRAFT 2022
            {% if current_pick == 57 %}
                <span class="text-base font-medium pl-48">CURRENT TURN: <b class="text-red-600 text-lg">DRAFT COMPLETE</b></span>
            {% elif current_pick == 0 %}
                <span class="text-base font-medium pl-48">NEED 7 PLAYERS FOR DRAFT</span>
            {% else %}
                <span class="text-base font-medium pl-48">CURRENT TURN: <b class="bg-amber-400 pl-2 pr-2 rounded-md">{{ pick.player }}: pick {{ pick.pick_number }}</b></span>
                <!-- <a href="{% url 'draft:rules' %}" class="text-base font-medium pl-48">Rules</a> -->
                <!-- <a href="{% url 'draft:roster' %}" class="text-base font-medium pl-8">Current Roster</a> -->
                <!-- <a href="" class="text-base font-medium pl-8">Big Board</a> -->
            {% endif %}
            
        </h3>
            <div>
                {% if request.user.is_authenticated %}
                <Span>Welcome, {{ user.username }}</Span>
                <a href="{% url 'players:logout' %}" class="
                              px-2 py-1 border-black border-2 rounded-md
                              hover:bg-white-800 hover:text-zinc ml-1 text-xs font-medium bg-green-400/50">Log Out</a>
                {% else %}
                <a href="{% url 'players:signup' %}" class="
                          px-2 py-1 border-black border-2 rounded-md
                          hover:bg-white-800 hover:text-zinc ml-1 text-xs font-mediumn bg-green-400/50">Sign Up</a>
                <a href="{% url 'players:login' %}" class="
                          px-2 py-1 border-black border-2 rounded-md
                          hover:bg-white-800 hover:text-zinc ml-1 text-xs font-medium bg-green-400/50">Log In</a>
                {% endif %}
            </div>        
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </header>   
    

    <div class="pt-20 pl-16 pr-16 pb-10" style="background-image: url({% static 'yard_line_image.jpg' %}); background-size: cover;">
        
        <table class="min-w-full divide-y divide-gray-600 border border-gray-800">
            <thead class="bg-gray-50">
                <tr class="divide-x divide-gray-500">
                    <th scope="col" class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 1</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 2</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 3</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 4</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 5</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 6</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 7</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 8</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-400 bg-white">
                {% for player in players %}
                    {% if player.draft_order %}
                        <tr class="divide-x divide-gray-600">
                            {% if player == pick.player %}
                                <td class="whitespace-nowrap py-1 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 bg-amber-400">{{player.username}}</td>
                            {% else %}
                                <td class="whitespace-nowrap py-1 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{player.username}}</td>
                            {% endif %}
                            {% for pick in player.picks.all %}
                                {% if pick.team %}
                                    <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500">{{ pick.team.school_name }}</td>
                                {% else %}
                                    {% if pick.pick_number == draft.current_pick %}
                                        <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500 bg-amber-400">Pick {{ pick.pick_number }}</td>
                                    {% else %}
                                        <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500">Pick {{ pick.pick_number }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <main class="px-6 pt-4">
        <ul class="flex flex-wrap justify-evenly">
            {% for conference in conferences %}
            <li class="pt-1 mt-1 mb-1 border-solid border-4 rounded">
                <p class="font-semibold px-1 underline bg-stone-300">{{ conference.name }}</p>
                {% if conference.divisions.all %}
                    {% for division in conference.divisions.all %}
                        <p class="underline px-3 bg-stone-200">{{ division.name }} Division</p>
                        {% for team in division.teams.all %}
                            {% if team.owned %}
                                {% if request.user == team.owned %}
                                    {% if team.ap_preseason_ranking != 0 %}
                                        <p class="text-black-500 bg-cyan-400 px-2 font-normal border-2 border-solid rounded-md ml-4 mr-3">
                                            <b class="font-bold text-xs">{{ team.ap_preseason_ranking }}</b> 
                                            <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                            
                                            {{ team.school_name }} -> {{ team.owned }}</p>
                                    {% else %}
                                        <p class="text-black-500 bg-cyan-400 px-2 font-normal border-2 border-solid rounded-md ml-4 mr-3">
                                            <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                            
                                            {{ team.school_name }} -> {{ team.owned }}</p>
                                    {% endif %}
                                {% elif pick.player == team.owned %}
                                    {% if team.ap_preseason_ranking != 0 %}
                                        <p class="text-black-500 bg-amber-400 px-2 font-normal border-2 border-solid rounded-md ml-4 mr-3"><b class="font-bold text-xs">{{ team.ap_preseason_ranking }}</b> 
                                            <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                            
                                            {{ team.school_name }} -> {{ team.owned }}</p>
                                    {% else %}
                                        <p class="text-black-500 bg-amber-400 px-2 font-normal border-2 border-solid rounded-md ml-4 mr-3">
                                            <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                            
                                            {{ team.school_name }} -> {{ team.owned }}</p>
                                    {% endif %}
                                {% else %}
                                    {% if team.ap_preseason_ranking != 0 %}
                                        <p class="px-2 font-md border-2 border-solid rounded-md ml-4 mr-3 bg-stone-200"><b class="text-black-500 font-bold text-xs">{{ team.ap_preseason_ranking }}</b> 
                                            <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                            
                                            {{ team.school_name }} -> {{ team.owned }}</p>
                                    {% else %}
                                        <p class="px-2 font-md border-2 border-solid rounded-md ml-4 mr-3 bg-stone-200">
                                            <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                            
                                            {{ team.school_name }} -> {{ team.owned }}</p>                                    
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <p class="px-2">
                                    {% if current_pick != 57 %}
                                        {% if users_turn or request.user.is_superuser %}
                                            <a href="/select/{{ team.id }}">
                                                <button class="
                                                    text-xs bg-transparent hover:bg-blue-500 text-blue-700 
                                                    font-semibold hover:text-white px-1 border 
                                                    border-blue-500 hover:border-transparent rounded">
                                                    select
                                                </button>
                                        {% endif %}
                                    {% endif %}
                                    {% if team.ap_preseason_ranking != 0 %}
                                        {% if team.ap_preseason_ranking > 9 %}
                                            <b class="px-2 font-normal"><b class="font-bold text-xs">{{ team.ap_preseason_ranking }}</b> 
                                            <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>
                                            {{ team.school_name }}</b>
                                        {% else %}
                                            <b class="px-4 font-normal"><b class="font-bold text-xs">{{ team.ap_preseason_ranking }}</b> 
                                            <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                            
                                            {{ team.school_name }}</b>
                                        {% endif %}
                                    {% else %}
                                        <b class="px-7 font-normal">
                                            <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                            
                                            {{ team.school_name }}</b>
                                    {% endif %}
                                            </a>

                                </p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% for team in conference.teams.all %}
                        {% if team.owned %}
                            {% if request.user == team.owned %}
                                {% if team.ap_preseason_ranking != 0 %}
                                    <p class="text-black-500 bg-cyan-400 px-2 font-normal border-2 border-solid rounded-md ml-4 mr-3"><b class="font-bold text-xs">{{ team.ap_preseason_ranking }}</b> 
                                        <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                        
                                        {{ team.school_name }} -> {{ team.owned }}</p>
                                {% else %}
                                    <p class="text-black-500 bg-cyan-400 px-2 font-normal border-2 border-solid rounded-md ml-4 mr-3">
                                        <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                        
                                        {{ team.school_name }} -> {{ team.owned }}</p>
                                {% endif %}
                            {% elif pick.player == team.owned %}
                                {% if team.ap_preseason_ranking != 0 %}
                                    <p class="text-black-500 bg-amber-400 px-2 font-normal border-2 border-solid rounded-md ml-4 mr-3"><b class="font-bold text-xs">{{ team.ap_preseason_ranking }}</b> 
                                        <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                        
                                        {{ team.school_name }} -> {{ team.owned }}</p>
                                {% else %}
                                    <p class="text-black-500 bg-amber-400 px-2 font-normal border-2 border-solid rounded-md ml-4 mr-3">
                                        <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                        
                                        {{ team.school_name }} -> {{ team.owned }}</p>
                                {% endif %}
                            {% else %}
                                {% if team.ap_preseason_ranking != 0 %}                                
                                    <p class="px-2 font-md border-2 border-solid rounded-md ml-4 mr-3 bg-stone-200"><b class="font-bold text-xs text-black-500">{{ team.ap_preseason_ranking }}</b> 
                                        <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                        
                                        {{ team.school_name }} -> {{ team.owned }}</p>
                                {% else %}
                                    <p class="px-2 font-md border-2 border-solid rounded-md ml-4 mr-3 bg-stone-200">
                                        <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                        
                                        {{ team.school_name }} -> {{ team.owned }}</p>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <p class="px-2">
                                {% if current_pick != 57 %}
                                    {% if users_turn or request.user.is_superuser %}
                                        <a href="/select/{{ team.id }}">
                                            <button class="
                                                text-xs bg-transparent hover:bg-blue-500 text-blue-700 
                                                font-semibold hover:text-white px-1 border 
                                                border-blue-500 hover:border-transparent rounded">
                                                select
                                            </button>
                                    {% endif %}
                                {% endif %}
                                    {% if team.ap_preseason_ranking %}
                                        {% if team.ap_preseason_ranking > 9 %}
                                            <b class="px-2 font-normal"><b class="font-bold text-xs">{{ team.ap_preseason_ranking }}</b> 
                                            <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                            
                                            {{ team.school_name }}</b>
                                        {% else %}
                                            <b class="px-4 font-normal"><b class="font-bold text-xs">{{ team.ap_preseason_ranking }}</b> 
                                            <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                            
                                            {{ team.school_name }}</b>
                                        {% endif %}
                                    {% else %}
                                        <b class="px-7 font-normal">
                                            <b class="text-right font-bold text-xs text-red-500">{{ team.fpi_ranking }}</b>                                            
                                            {{ team.school_name }}</b>
                                    {% endif %}
                                    </a>

                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </main>

    <footer class="w-full h-10 bg-green-500 bottom-0 items-center mt-1 text-sm">
        <p class="text-black text-center pt-2">2012 &copy College Football Challenge &trade;
            <a href="/admin/" class="underline ml-10">admin</a></p>
    </footer>

    <!-- <script>
        setInterval(function () {
            axios({
                url: '/draft-pick-check',
                method: 'get',
            }).then(res => {
                if (res.data.pick != {{ draft.current_pick }}) {
                    location.reload()
                }
            })
        }, 2000)
    </script>   -->

</body>

</html>