<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFC Draft</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com/"></script>
    {% load static %}

    <!-- <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto auto auto auto;
            padding: 20px;
          }
          .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 2px;
            font-size: 15px;
            text-align: center;
          }
    </style> -->
</head>

<body>
    <header class="fixed w-full font-medium bg-green-400 py-3 px-10 flex justify-between items-center">
        <h3 class="text-lg font-medium">College Football Challenge || DRAFT
            <a href="{% url 'draft:rules' %}" class="text-base font-medium pl-48">Rules</a>
            <a href="{% url 'draft:roster' %}" class="text-base font-medium pl-8">Current Roster</a>
            <a href="" class="text-base font-medium pl-8">Big Board</a>
        </h3>
            <div>
                {% if request.user.is_authenticated %}
                <Span>Welcome, {{ user.username }}</Span>
                <a href="{% url 'players:logout' %}" class="
                              px-2 py-1 border-black border-2 rounded-md
                              hover:bg-white-800 hover:text-zinc ml-1 text-xs font-medium bg-green-400/50">Log Out</a>
                {% else %}
                <a href="{% url 'players:signup' %}" class="
                          px-2 py-1 border-black border-2 rounded-md
                          hover:bg-white-800 hover:text-zinc ml-1 text-xs font-mediumn bg-green-400/50">Sign Up</a>
                <a href="{% url 'players:login' %}" class="
                          px-2 py-1 border-black border-2 rounded-md
                          hover:bg-white-800 hover:text-zinc ml-1 text-xs font-medium bg-green-400/50">Log In</a>
                {% endif %}
            </div>        
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </header>   
    

    <!-- <div class="grid-container pt-20">
        <div class="grid-item">Name</div>
        <div class="grid-item">Round 1</div>
        <div class="grid-item">Round 2</div>
        <div class="grid-item">Round 3</div>
        <div class="grid-item">Round 4</div>
        <div class="grid-item">Round 5</div>
        <div class="grid-item">Round 6</div>
        <div class="grid-item">Round 7</div>
        <div class="grid-item">Round 8</div>
        <div class="grid-item">{{ players.username }}</div>  
        <div class="grid-item">1</div>
        <div class="grid-item">14</div>
        <div class="grid-item">15</div>  
        <div class="grid-item">28</div>
        <div class="grid-item">29</div>
        <div class="grid-item">42</div>
        <div class="grid-item">43</div>
        <div class="grid-item">56</div>
        <div class="grid-item"></div>
        <div class="grid-item">2</div>
        <div class="grid-item">13</div>
        <div class="grid-item">16</div>
        <div class="grid-item">27</div>
        <div class="grid-item">30</div>
        <div class="grid-item">41</div>
        <div class="grid-item">44</div>
        <div class="grid-item">55</div>
        <div class="grid-item"></div>
        <div class="grid-item">3</div>
        <div class="grid-item">12</div>
        <div class="grid-item">17</div>
        <div class="grid-item">26</div>
        <div class="grid-item">31</div>
        <div class="grid-item">40</div>
        <div class="grid-item">45</div>
        <div class="grid-item">54</div>
        <div class="grid-item"></div>
        <div class="grid-item">4</div>
        <div class="grid-item">11</div>
        <div class="grid-item">18</div>
        <div class="grid-item">25</div>
        <div class="grid-item">32</div>
        <div class="grid-item">39</div>
        <div class="grid-item">46</div>
        <div class="grid-item">53</div>
        <div class="grid-item"></div>
        <div class="grid-item">5</div>
        <div class="grid-item">10</div>
        <div class="grid-item">19</div>
        <div class="grid-item">24</div>
        <div class="grid-item">33</div>
        <div class="grid-item">38</div>
        <div class="grid-item">47</div>
        <div class="grid-item">52</div>
        <div class="grid-item"></div>
        <div class="grid-item">6</div>
        <div class="grid-item">9</div>
        <div class="grid-item">20</div>
        <div class="grid-item">23</div>
        <div class="grid-item">34</div>
        <div class="grid-item">37</div>
        <div class="grid-item">48</div>
        <div class="grid-item">51</div>
        <div class="grid-item"></div>
        <div class="grid-item">7</div>
        <div class="grid-item">8</div>
        <div class="grid-item">21</div>
        <div class="grid-item">22</div>
        <div class="grid-item">35</div>
        <div class="grid-item">36</div>
        <div class="grid-item">49</div>
        <div class="grid-item">50</div>
    </div> -->
    <div class="pt-20 pl-16 pr-16 pb-10" style="background-image: url({% static 'yard_line_image.jpg' %}); background-size: cover;">
        <table class="min-w-full divide-y divide-gray-600 border border-gray-800">
            <thead class="bg-gray-50">
                <tr class="divide-x divide-gray-500">
                    <th scope="col" class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 1</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 2</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 3</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 4</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 5</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 6</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 7</th>
                    <th scope="col" class="px-3 py-2 text-left text-sm font-semibold text-gray-900">Round 8</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-400 bg-white">
                {% for player in players %}
                    {% if player.draft_order %}
                        <tr class="divide-x divide-gray-600">
                            {% if player == pick.player %}
                                <td class="whitespace-nowrap py-1 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 bg-amber-400">{{player.username}}</td>
                            {% else %}
                                <td class="whitespace-nowrap py-1 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{player.username}}</td>
                            {% endif %}
                            {% for pick in player.picks.all %}
                                {% if pick.team %}
                                    <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500">{{ pick.team.school_name }}</td>
                                {% else %}
                                    {% if pick.pick_number == draft.current_pick %}
                                        <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500 bg-amber-400">Pick {{ pick.pick_number }}</td>
                                    {% else %}
                                        <td class="whitespace-nowrap px-3 py-1 text-sm text-gray-500">Pick {{ pick.pick_number }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <main class="px-6 pt-4">
        <ul class="flex flex-wrap justify-evenly">
            {% for conference in conferences %}
            <li class="pt-1 mt-1 mb-1 border-solid border-4 rounded">
                <p class="font-bold px-1 underline">{{ conference.name }}</p>
                {% if conference.divisions.all %}
                    {% for division in conference.divisions.all %}
                        <p class="underline px-3">{{ division.name }}</p>
                        {% for team in division.teams.all %}
                            {% if team.owned %}
                                {% if request.user == team.owned %}
                                    <p class="text-black-500 bg-yellow-300 px-2 font-md border-2 border-solid rounded-md ml-4 mr-3">{{ team.school_name }} -> {{ team.owned }}</p>
                                {% else %}
                                    <p class="text-red-500 px-2 font-md border-2 border-solid rounded-md ml-4 mr-3 bg-stone-200">{{ team.school_name }} -> {{ team.owned }}</p>
                                {% endif %}
                            {% else %}
                                <p class="px-6">
                                    {% if users_turn and current_pick != 57 %}
                                        <a href="/select/{{ team.id }}">
                                            <button class="
                                                text-xs bg-transparent hover:bg-blue-500 text-blue-700 
                                                font-semibold hover:text-white px-1 border 
                                                border-blue-500 hover:border-transparent rounded">
                                                select
                                            </button>
                                        </a>
                                    {% endif %}
                                    {{ team.school_name }}
                                </p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% for team in conference.teams.all %}
                        {% if team.owned %}
                            {% if request.user == team.owned %}
                            <p class="text-black-500 bg-yellow-300 px-2 font-md border-2 border-solid rounded-md ml-4 mr-3">{{ team.school_name }} -> {{ team.owned }}</p>
                            {% else %}
                                <p class="text-red-500 px-2 font-md border-2 border-solid rounded-md ml-4 mr-3 bg-stone-200">{{ team.school_name }} -> {{ team.owned }}</p>
                            {% endif %}
                        {% else %}
                            <p class="px-6">
                                {% if users_turn and current_pick != 57 %}
                                    <a href="/select/{{ team.id }}">
                                        <button class="
                                            text-xs bg-transparent hover:bg-blue-500 text-blue-700 
                                            font-semibold hover:text-white px-1 border 
                                            border-blue-500 hover:border-transparent rounded">
                                            select
                                        </button>
                                    </a>
                                {% endif %}
                                {{ team.school_name }}
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </main>

    <footer class="w-full h-10 bg-green-500 bottom-0 items-center mt-1 text-sm">
        <p class="text-black text-center pt-2">2012 &copy College Football Challenge &trade;
            <a href="/admin/" class="underline ml-10">admin</a></p>
    </footer>

</body>

</html>